body {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
   margin: 0;
   height: 100vh;
   font-family: 'Roboto', sans-serif; /* Replace 'Roboto' with the desired Google Font */
   perspective: 800px; /* Adding perspective to the body */
}

h1 {
   color: white;
   font-size: 4em;
   text-align: center;
   letter-spacing: 5px;
   font-weight: 700;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   transition: text-shadow 0.5s; 
}


.container {
   width: 100%;
   margin-top: 40px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}


.btn {
  background-image: linear-gradient(109.6deg, rgb(60, 99, 151) 41.2%, rgb(24, 68, 116) 61.2%, rgb(38, 65, 139) );
  border: 0;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 0px 10px;
  padding: 10px 45px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}